.musicPlayer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: orange;
    align-items: center;
}
.musicData{
    flex-direction: column;
}
.musicImgBox{
    height: 55px;
}
.musicImgBox > img{
    height: inherit;
}